{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
{{ define "main" }}
  <div id="title" class="title-header"><h1>Articles</h1></div>
  {{ $dateFormat := default "January 2, 2006" .Site.Params.BookDateFormat }}
  {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}  
  {{ range sort .Paginator.Pages }}
  <article class="markdown">    
    <h2>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <span class="meta">
      {{ .Date.Format $dateFormat }}
    </span>
    <p>
      {{- .Summary -}}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
      {{ end }}
    </p>
  </article>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
{{ end }}